.page-wrap {
    background-image: linear-gradient(to bottom right,black,cadetblue,black,cadetblue,grey,black);
    border-radius: 10px;
    padding: 5px;
}

.image-wrap{
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: fit-content;
    background-color:white;
}
.image-wrap:hover{
    background-color:dodgerblue;
}

.parent-con {
    backdrop-filter: blur(8px);
    width: fit-content;
    padding: 3px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}

@media (max-width: 1023.98px) {
    .container {
        justify-content: flex-start;
    }
}
