@page "/Components/DisplayModelJS";
@inject IJSRuntime JsRuntime
@inject Services.SpinnerService spinner
@using System.Text;
<br/><br/>
<div class="h-100 d-flex align-items-center justify-content-center">
<div style="background-color:blue ; height: 300px ; width : 500px">
<canvas id="three1">
</canvas>
</div>
<h1>@model</h1>
<br />
</div>

@code {
    [Parameter]
    public byte[] data { get; set; }
    public string model;

    protected override void OnInitialized()
    {
        call(data);
    }

    protected override void OnParametersSet()
    {
        call(data);
    }

    String convertByteArrayToString(byte[] data)
    {
        if (data == null)
        {
            Console.Write("nothing");
            return null;
        }
        String model = Encoding.UTF8.GetString(data);
        Console.Write(model);
        return model;
    }

    public async Task call(byte[] data)
    {
        string id  = "three";
        await JsRuntime.InvokeVoidAsync("displayModel",data);
        
        StateHasChanged();
    }
}
